<a class="btn btn-info" [routerLink]="['../../']">Cancelar</a>

<br>
<br>
<form #f="ngForm" (ngSubmit)="updateUser(f)">
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputEmail">Nombre</label>
            <input type="text" name="firstname" [ngModel]="firstname" class="form-control" placeholder="Nombre" required="required" autofocus="autofocus">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputEmail">Apellido</label>
            <input type="text" name="lastname" [ngModel]="lastname" class="form-control" placeholder="Apellido" required="required" autofocus="autofocus">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputEmail">Nombre de usuario</label>
            <input type="text" name="username" [ngModel]="username" class="form-control" placeholder="Correo" required="required" autofocus="autofocus">
        </div>
    </div>
    <div class="form-group">
        <div class="form-label-group">
            <label for="inputPassword">Rol</label>
            <select class="custom-select" name="rol" [(ngModel)]="rol">
                <option value="" disabled>Escoge el rol</option>
                <option *ngFor="let item of rols" [value]="item.id">{{item.name}}</option>
             </select>
        </div>
    </div>
    <button class="btn btn-primary btn-block">Actualizar usuario</button>
</form>