<h2 mat-dialog-title>Opciones de Linea Vehiculo</h2>
<mat-dialog-content>
  <form [formGroup]="formGroupFactory">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Id" type="text" required [(ngModel)]="factoryUpdate.id"
            formControlName="id"/>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Nombre Fabrica" type="text" required [(ngModel)]="factoryUpdate.name"
            formControlName="name" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="IP" type="text" required [(ngModel)]="factoryUpdate.ip"
            formControlName="ip"/>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Ultima Consulta" type="date" required [(ngModel)]="factoryUpdate.lastDateHistoryConsult"
            formControlName="lastConsult" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput placeholder="Contraseña" type="password" required [(ngModel)]="factoryUpdate.passwordService"
            formControlName="password" />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-button [mat-dialog-close]="factoryUpdate" *ngIf="formGroupFactory.valid">
    Ok.
  </button>
</mat-dialog-actions>
