<section id="maincontent" class="error-bg">
  <div class="container">
      <div class="row">
          <div class="span12">
              <div class="error-wrapper">
                  <div class="error-body">
                      <h1 class="hidden-phone">404</h1>
                      <h3>Directorio no encontrado</h3>
                      <p>
                          El directorio o la ruta a la que intentas acceder no existe.
                      </p>
                  </div>
                  <div class="error-footer">
                      <a href="index.html" class="btn btn-inverse marginleft20">Página principal</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
