<h2 mat-dialog-title>Opciones de Repuesto</h2>
<mat-dialog-content>
  <form [formGroup]="formGroupProduct">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Nombre" type="text" required [(ngModel)]="partUpdate.name"
            formControlName="name" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <input matInput placeholder="Parte" type="text" required [(ngModel)]="partUpdate.partNo"
          formControlName="partNo" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <mat-form-field>
          <input matInput placeholder="Descripcion" type="text" required [(ngModel)]="partUpdate.description"
            formControlName="description" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <input matInput placeholder="Precio" type="number" required [(ngModel)]="partUpdate.price"
          formControlName="price" />
      </div>
      <div class="col-md-6">
        <input matInput placeholder="Stock" type="number" required [(ngModel)]="partUpdate.stock"
          formControlName="stock" />
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-button [mat-dialog-close]="partUpdate" *ngIf="formGroupProduct.valid">
    Ok.
  </button>
</mat-dialog-actions>
