.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.container {
  width: 50vh;
  height: auto;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
