<div class="container-fluid">
  <div class="row profile">
    <div class="col-md-3">
      <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <!-- <img
            [src]="user.photoUrl"
            class="img-responsive" alt=""> -->
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <!-- {{ user.name }} -->
          </div>
          <div class="profile-usertitle-job">
            <!-- {{ user.email }} -->
          </div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
        <!-- SIDEBAR MENU -->
        <div class="profile-usermenu">
          <h4>Menu</h4>
          <ul class="nav">
            <li class="active">
              <a [routerLink]="['information']">
                <i class="glyphicon glyphicon-home"></i> Información Clientes </a>
            </li>
            <li class="active">
              <a [routerLink]="['catalogue/part']">
                <i class="glyphicon glyphicon-user"></i> Catalogo de repuestos </a>
            </li>
            <li class="active">
              <a [routerLink]="['catalogue/cars']">
                <i class="glyphicon glyphicon-user"></i> Catalogo de vehiculos </a>
            </li>
            <li class="active">
              <a [routerLink]="['sales']">
                <i class="glyphicon glyphicon-flag"></i> Ventas de repuestos </a>
            </li>
            <li class="active">
              <a [routerLink]="['bill']">
                <i class="glyphicon glyphicon-flag"></i> Facturacion </a>
            </li>
            <li class="active">
              <a [routerLink]="['setting']">
                <i class="glyphicon glyphicon-flag"></i> Administracion </a>
            </li>
            <li class="active">
              <a [routerLink]="['catalogue/user']">
                <i class="glyphicon glyphicon-flag"></i> Usuarios </a>
            </li>
            <li class="active">
              <button (click)="logOut()">
                <i class="glyphicon glyphicon-flag"></i> Cerrar Sesión </button>
            </li>
          </ul>
        </div>
        <!-- END MENU -->
      </div>
    </div>
    <div class="col-md-9">
      <div class="profile-content">
        <div class="d-inline">
          <div class="row">
            <div class="col-md-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page" *ngFor="let item of url">{{item}}</li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
