<div class="row">
  <div class="col-md-12">
    <h5>Modulo de administracion</h5>
    <small>Administra todos los componentes interenos del taller de ventas de repuestos</small>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tipos de Subscripcion
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-subs></app-subs>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Roles
          </mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
