<div class="row">
  <div class="col-md-12">
    <h5>Modulo de administracion</h5>
    <small>Administra todos los componentes interenos del taller de ventas de repuestos</small>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Tipos de Subscripcion
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-subs></app-subs>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Roles
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-rol></app-rol>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Estado de Orden
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-state-order></app-state-order>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Estado de Pedido
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-state-request></app-state-request>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Catalogo de marcas de vehiculos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-brand></app-brand>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Catalogo de lineas de vehiculos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-line></app-line>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Catalogo de Fabricas de repuestos
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-factory></app-factory>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
