<h2 mat-dialog-title>Opciones de Vehiculo</h2>
<mat-dialog-content>
  <form [formGroup]="formGroupVehicle">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Codigo Universal" type="text" required [(ngModel)]="vehicleUpdate.universalCode" [disabled] = "true"
            formControlName="universalCode" />
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Marca</mat-label>
          <mat-select formControlName="brand" required [(ngModel)]="vehicleUpdate.brand">
            <mat-option *ngFor="let item of brand" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6">
        <mat-form-field>
          <mat-label>Linea</mat-label>
          <mat-select formControlName="line" required [(ngModel)]="vehicleUpdate.line">
            <mat-option *ngFor="let item of line" [value]="item.id">
              {{item.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field>
          <input matInput placeholder="Año" type="number" required [(ngModel)]="vehicleUpdate.year"
            formControlName="year" />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close]="false">Cancelar</button>
  <button mat-button [mat-dialog-close]="vehicleUpdate" *ngIf="formGroupVehicle.valid">
    Ok.
  </button>
</mat-dialog-actions>
